/*
 * Title: Main css file for technology site for DEIT
 * Filename: main.css
 * Author: Stephen Turoscy
 * Website URI: http://deit.desales.edu/deit
 * Stylesheet URI: http://deit.desales.edu/deit/stylesheets/main.css
 * Last Updated: November 19, 2010
 */

/* Classes */
.container_12 {padding-top: 35px;}

.triggered-list {margin: 10px auto auto 30px;}

.breadcrumb {
	font-size: 0.85em;
	text-decoration: none;
	color: #545454;
}

div.hr {background: url('../images/hr.png') no-repeat; height: 3px;}
div.hr hr {display: none;}

.open-form-h4-margin {float: left; margin-top: 13px;}
.open-form-img {margin-left: 5px; margin-top: 12px;}

.assistive-h4-img {float: left;}
.assistive-img {margin-left: 5px; margin-top: 0px;}

.assistive-h4-img-contact {float: left; margin-top: 0px;}
.assistive-img-contact {margin-left: 10px; margin-top: 5px;}

.hardware-ref-page-img {float: left;}
.hardware-ref-page-h1-img {padding-left: 35px; padding-top: 3px;}

.bold {font-weight: bold;}
.italics {font-style: italic;}
.red  {color: #C00436;}
.large {font-size: 1.375em;}
.underline {text-decoration: underline;}
.indent {margin-left: 15px;}
.small {color: #535353; font-size: 0.85em;}
.quote {color: #535353; font-size: 0.80em;}
.left {float: left;}

.break {margin: 10px auto 15px auto;}

.loading {
	background: url('../images/ajax-loader.gif') no-repeat; 
	height: 50px;
	margin: auto;
	width: 50px;
}

.lightbox {
	margin-right: 5px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
	-o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
}

.ipad {border: none; margin: 10px 0 5px 0;}
	p.ipad {color: #535353;}
/* End Classes */

/* Site Configs */
* {margin: 0; padding: 0;}

body {
	/* font-family: Georgia, Times New Roman, Times, serif; */
	font-family: Helvetica, sans-serif;
	background: url('../images/background.png') repeat-x #F0F0F0;
	height: 100%;
	line-height: 1.35em;
	width: 100%;
} 

html > body { font-size: 16px; }

h1, h2, h3, h4, h5, h6 {letter-spacing: 0px;}
h1 { font-size: 1.750em; }
h2 { font-size: 1.625em; }
h3 { font-size: 1.500em; }
h4 { font-size: 1.375em; }
h5 { font-size: 1.250em; }
h6 { font-size: 1.125em; }
p  { font-size: 0.850em; line-height: 1.35em;}

a  {
	font-size: 0.85em;
	text-decoration: none;
	/* color: #545454; */
	color: #0967AD;
}
a:hover {
	color: #C00434;
	text-decoration: underline;
}

img {border: none;}

blockquote {
	border-left: 1px solid black;
	color: #535353; 
	font-size: 0.850em;
	line-height: 1.25em;
	margin-left: 35px;
	margin-top: 15px;
	padding-left: 5px;
}

blockquote ul {list-style-type: decimal; margin-left: 35px;}

/* End Site Configs */

/* Main Page Configs */
#topper {
	background: url('../images/topperBack.png') repeat-x;
	height: 35px;
	position: fixed;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px;
	-o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px;
	z-index: 1000;
}
	#topper a {color: white;}

#header {margin-top: 30px;}
	#header-graphic {}
	#site-navigation p {float: left; margin: 3px 10px 15px auto;}
	#site-navigation div {margin-bottom: 5px;}
	
#home-page {}
	
#main {
	background: white;
	border-bottom: 1px solid #AAAAAA; 
	border-top: 1px solid #AAAAAA;
	height: 620px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
	margin-top: -6px;
	-o-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
}
	#links {
		background: white; 
		border-left: 1px solid #AAAAAA;
		border-right: 1px solid #AAAAAA; 
		height: 580px; 
		padding: 20px;
	}
		.link-category-two {margin-top: 20px;}
	
	#info {background: white; padding: 20px 10px;}
		#info p {
			color: #535353; 
			font-size: 0.85em;
			text-align: justify;
		}

		#info-paragraph-one {}
			#info-paragraph-one p {margin-top: 10px; margin-bottom: 20px;}
		#info-paragraph-two {margin-bottom: 10px;}
			#info-paragraph-two p {margin-top: 10px; margin-bottom: 20px;}
			#info-paragraph-two ul {margin-left: 30px;}
			#info-paragraph-two li {
				list-style-image: url('../images/arrow-bullet.gif');
				list-style-type: none; 
			}
		#info td {}
	
	#open-form {margin-top: 10px;}
	#open-form a {font-size: 1em; text-decoration: underline;}
	
	/* Information Form */
	#info-form {margin-top: 20px;}
		#info-form form {
			background: url('../images/form-background.png') repeat-x;
			border: 1px solid red;
			height: 350px;
			padding: 20px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
		}
			#info-form h4 {color: white;}		
			#info-form form input {
				border: 1px solid red; 
				height: 25px; 
				font-size: 1.0em;
				margin-bottom: 15px; 
				width: 395px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
			}
				#info-form form input:focus {border: 1px solid #AAAAAA;}			
			#info-form form textarea {
				border: 1px solid red;
				color: black;
				font-size: 1em;
				font-family: Helvetica, sans-serif;
				height: 100px;
				resize: none;
				width: 395px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
			}
				#info-form form textarea:focus {border: 1px solid #AAAAAA;}
			#info-form form label {color: white; font-weight: bold;}
			#info-form #submit {
				background: #535353;
				border: 1px solid white;
				color: white;
				font-weight: bold;
				height: 35px;
				margin-top: 15px; 
				width: 115px;
			}
			
	/* iPad Form */
	#ipad-form {margin-top: 10px; padding-bottom: 20px;}
		#ipad-form form {
			background: url('../images/form-background.png') repeat-x;
			border: 1px solid red;
			height: 180px;
			padding: 20px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
		}
			#ipad-form h4 {color: white;}		
			#ipad-form form input {
				border: 1px solid red; 
				height: 25px; 
				font-size: 1.0em;
				margin-bottom: 15px; 
				width: 395px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
			}
				#ipad-form form input:focus {border: 1px solid #AAAAAA;}			
			#ipad-form form textarea {
				border: 1px solid red;
				color: black;
				font-size: 1em;
				font-family: Helvetica, sans-serif;
				height: 100px;
				resize: none;
				width: 395px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
			}
				#ipad-form form textarea:focus {border: 1px solid #AAAAAA;}
			#ipad-form form label {color: white; font-weight: bold;}
			#ipad-form #ipad-submit {
				background: #535353;
				border: 1px solid white;
				color: white;
				font-weight: bold;
				height: 35px;
				margin-top: 15px; 
				width: 115px;
			}
			#ipad-form p {margin-bottom: 15px; text-align: justify;}
				#ipad-form p a {font-size: 1.0em; color: #0967AD;}
		
	#contact {
		background: white; 
		border-left: 1px solid #AAAAAA; 
		border-right: 1px solid #AAAAAA; 
		height: 530px;
		padding: 45px 10px;
	}
		#contact p {color: #535353; font-size: 0.85em;}
		#contact ul {margin-bottom: 20px; margin-top: 10px;}
		#contact li {
			color: #535353; 
			font-size: 0.85em; 
			list-style-type: none;
		}
		#contact #contact-links {margin-top: 20px;}
			#contact #contact-links h4 {margin-bottom: 10px;}
			#contact #contact-links ul li {
				font-size: 1em; 
				list-style-image: url('../images/arrow-bullet.gif');
				list-style-type: none;
				margin-left: 20px;
			}
		
#footer {margin-bottom: 35px;}
	#footer-main {
		background: white;
		border-bottom: 1px solid #AAAAAA;
		height: 60px; 
		box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
		-o-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
		-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
		-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
	}
		#footer-left {
			border-left: 1px solid #AAAAAA;
			/* border-right: 1px solid #AAAAAA; */
			height: 60px;
			text-align: center;
		}
			#footer-left img {margin-top: 7px;}
		#footer-right {
			border-right: 1px solid #AAAAAA;
			height: 60px;
		}
			#last-update {text-align: right; padding-top: 33px; padding-right: 10px;}
/* End Main Page Configs */

/* Technology Request Page Configs */
#request-page #main{height: 1350px;}

#request-page #main #links {height: 1310px;}

#request-page #main #technology-request {
	border-right: 1px solid #AAAAAA;
	height: 1310px;
	padding: 20px 20px 20px 0px;
}
	#request-page #main #technology-request p {
		color: #535353;
		font-weight: bold;
		margin-left: 3px;
	}
	#technology-request form {
		background: url('../images/request-form-background-re.png') no-repeat;
		/*border: 1px solid #535353;*/
		padding: 50px 20px 30px 30px;
		width: 685px;
	}
	
	#technology-request form h4 {color: #535353; margin-bottom: 15px;}

	#technology-request label {color: #535353; font-size: 0.85em; font-weight: bold;}
	#technology-request form input {
		border: 1px solid #535353;
		font-size: 1.0em;
		height: 25px; 
		margin-bottom: 15px; 
		padding-left: 25px;
		/* width: 275px; */
		width: 289px;
	}
	
	/* Un-comment to add separate, custom icon background for inputs
	#technology-request form #request-first-name, #request-last-name {background: url('../images/users.gif') no-repeat 4px 4px;}
	#technology-request form #request-email {background: url('../images/email.png') no-repeat 4px 4px;}
	#technology-request form #request-phone-number {background: url('../images/phone.png') no-repeat 4px 4px;}
	#technology-request form #request-software-name {background: url('../images/disc.png') no-repeat 4px 4px;}
	#technology-request form #request-building-room {background: url('../images/key.png') no-repeat 4px 4px;}
	#technology-request form #request-course-number, #request-department {background: url('../images/file.png') no-repeat 4px 4px;}
	*/	
	#technology-request form #request-date-start {background: url('../images/calendar.png') no-repeat 4px 4px; /* width: 87px; */ width: 129px;}
	#technology-request form #request-date-end   {background: url('../images/calendar.png') no-repeat 4px 4px; /* width: 88px; */ width: 129px;}
	
	#technology-request form #is-technology-available {width: 630px;}
	
	#technology-request form #installed {
		border: none;
		margin: 6px 0px auto 6px;
		width: auto;
	}
	
	#technology-request form textarea {
		border: 1px solid #535353;
		color: black;
		font-size: 1em;
		font-family: Helvetica, sans-serif;
		height: 100px;
		padding: 5px;
		margin-bottom: 20px;
		resize: none;
		/* width: 290px; */
		width: 304px;
	}
	
	#technology-request form #request-submit {
		background: #535353;
		color: white;
		font-size: 1em;
		font-weight: bold;
		padding: 10px 45px 10px 45px;
	}
/* End Technology Request Page Configs */

/* Browse page configs */
#browse-page #main{height: 440px;}

#browse-page #main #links {height: 400px;}

#browse-page #main #browse-technology {
	border-right: 1px solid #AAAAAA;
	height: 400px;
	padding: 20px 20px 20px 0px;
}
	#browse-technology p {
		color: #535353; 
		font-size: 0.85em;
		margin-top: 20px;
		margin-bottom: 10px;
		text-align: justify;
	}
	#browse-technology ul {}
		#browse-technology li {}
		#buildings {margin-top: 20px;}
			#buildings p {color: #000000;}
			#buildings-list {margin-left: 30px;}
			#buildings-list li {
				list-style-image: url('../images/list-image.png');
				list-style-type: none;
				margin-bottom: 5px;
			}
		#campus {margin-top: 20px;}
			#campus-list {}
			#campus-list li {
				list-style-image: none;
				list-style-type: none;
			}
			#browse-page #main #browse-technology #campus #campus-list #easton-dropdown li {
				list-style-image: url('../images/list-image.png');
				list-style-type: none;
				margin-bottom: 5px;
			}
			#browse-page #main #browse-technology #campus #campus-list #lansdale-dropdown li {
				list-style-image: url('../images/list-image.png');
				list-style-type: none;
				margin-bottom: 5px;
			}
/* End Browse page configs */

/* Browse Result page configs */
#browse-result-page #main{height: 665px;}

#browse-result-page #main #links {height: 625px;}

#browse-result-page #main #browse-result {
	border-right: 1px solid #AAAAAA;
	height: 625px;
	overflow: auto;
	overflow-y: auto;
	padding: 20px 20px 20px 0px;
	position: relative;
}
	#browse-result ul.non-tab {
		color: #1A1A1A; 
		font-size: 0.85em; 
		margin-bottom: 20px; 
		margin-left: 35px;
	}
	
	#browse-result a.non-tab {
		color: #0967AD;
		font-size: 1.00em;
	}
	#browse-result a.non-tab:hover {
		color: #C00434;;
		font-size: 1.00em;
	}

	#browse-result p {
		color: #535353; 
		font-size: 0.85em;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: justify;
	}
	
	#browse-result-tabs {margin-top: 10px;}
	#hardware-list {
		color: #535353; 
		font-size: 0.85em; 
		margin-left: 25px;
	}
/* End Browse Result page configs */

/* Software List page configs */
#software-list-page #main{height: 410px;}

#software-list-page #main #links {height: 370px;}

#software-list-page #main #software-list-result {
	border-right: 1px solid #AAAAAA;
	height: 380px;
	padding: 20px 10px 10px 0px;
}
	#software-list-result h4 {margin-bottom: 20px;}
	#software-list-result p {margin-bottom: 20px;} 
	#software-list-result p.normal {color: #535353;}
	#software-list-result a {
		color: #1e73ba;
		font-size: 1.00em;
		text-decoration: underline;
	}
	#software-list-result form {}
	#software-list-result label {color: #535353; font-weight: bold;}
	#search-term {font-size: 1.125em; height: 25px; padding-left: 5px; width: 350px;}
	#software-list-result form .search-submit {
		background: #535353;
		color: white;
		font-size: 1.0em;
		height: 8px;
		padding: 4px 20px 4px 20px;
		text-decoration: none;
		width: 40px;
	}	
/* End Software List page configs */

/* Assistive page configs */
#assistive-page #main{height: 550px;}

#assistive-page #main #links {height: 510px;}

#assistive-page #main #assistive-page-result {
	border-right: 1px solid #AAAAAA;
	height: 520px;
	padding: 20px 10px 10px 0px;
}
	#assistive-page-result h4 {margin-bottom: 20px;}
	#assistive-page-result p {margin-bottom: 20px;} 
	#assistive-page-result p.normal {color: #535353;}
	#assistive-page-result a {font-size: 1.00em;}
	#assistive-page-result ul {color: #1A1A1A; font-size: 0.85em; margin-bottom: 20px; margin-left: 35px;}
/* End Assistive page configs */

/* Hardware Reference configs */
	#hardware-ref-page #main{height: 820px;}
		#hardware-ref-page #main #links {height: 780px;}

		#hardware-ref-page #main #hardware-ref-page-result {
			border-right: 1px solid #AAAAAA;
			height: 790px;
			padding: 20px 10px 10px 0px;
		}
		
			#hardware-ref-page #main #hardware-ref-page-result .smaller {
				font-size: 0.85em;
			}
			
			#hardware-ref-page #main #hardware-ref-page-result .lightbox {
				box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
				-o-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
				-moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
				-webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
			}
			
			#hardware-ref-page #main #hardware-ref-page-result #accordion {margin-bottom: 35px; margin-top: 10px; padding-right: 10px;}
		
			#hardware-ref-page #main #hardware-ref-page-result ul {
				margin-left: 35px;
			}
			
			#hardware-ref-page #main #hardware-ref-page-result li {
				margin-bottom: 5px;
			}
			
			#hardware-ref-page-result a {
				color: #1e73ba;
				font-size: 1.00em;
			}
			#hardware-ref-page-result p.normal {
				color: #535353;
				font-size: 0.85em;
			}
			#hardware-ref-page-result p.cufon {cursor: pointer;}			
			#hardware-ref-page-result h4 {cursor: pointer; margin-bottom: 10px;}
			
			#hardware-search {margin-bottom: 25px;}
			#hardware-search h4 {margin-bottom: 15px;}
			#hardware-search form .search-submit {
				background: #535353;
				color: white;
				font-size: 1.0em;
				height: 8px;
				padding: 7px 20px 4px 20px;
				text-decoration: none;
				width: 40px;
			}	
/* End Hardware Reference configs */

/* Hardware Loan configs */
	#hardware-loan-page #main{height: 900px;}
		#hardware-loan-page #main #links {height: 860px;}

		#hardware-loan-page #main #hardware-loan-page-result {
			border-right: 1px solid #AAAAAA;
			height: 870px;
			padding: 20px 10px 10px 0px;
		}
		
			#hardware-loan-page #main #hardware-loan-page-result .smaller {
				font-size: 0.85em;
			}			
		
			#hardware-loan-page #main #hardware-loan-page-result ul {
				color: #1A1A1A; 
				font-size: 0.85em; 
				margin-bottom: 20px;
				margin-left: 35px;
			}
			
			#hardware-loan-page-result #suggestions {
				font-style: italic;
				margin-left: 25px;
			}
			
			#hardware-loan-page-result #suggestions li {
				list-style-image: url('../images/list-image.png');
				list-style-type: none;
			}
			
			#hardware-loan-page-result a {
				color: #1e73ba;
				font-size: 1.00em;
			}
			
			#hardware-loan-page-result p.normal {
				color: #535353;
				font-size: 0.85em;
				margin-bottom: 15px;
			}
			
			#hardware-loan-page-result p.cufon {cursor: pointer;}	
			#hardware-loan-page-result h4 {margin-bottom: 10px;}

/* End Hardware Loan configs */

/* Mobile Statement Page */
	#mobile-statement-page #main{height: 650px;}
		#mobile-statement-page #main #links {height: 610px;}

		#mobile-statement-page #main #mobile-statement-page-result {
			border-right: 1px solid #AAAAAA;
			height: 620px;
			padding: 20px 10px 10px 0px;
		}
			#mobile-statement-page #main #mobile-statement-page-result h4, p {
				margin-bottom: 15px;
			}

			#mobile-statement-page #main #mobile-statement-page-result ul {
				font-size: 0.85em;
				list-style-image: url('../images/arrow-bullet.gif');
				margin-left: 35px;
			}

/* End Mobile Statement Page */

/* Mobile Tips Page */
	#mobile-tips-page #main{height: 650px;}
		#mobile-tips-page #main #links {height: 610px;}

		#mobile-tips-page #main #mobile-tips-page-result {
			border-right: 1px solid #AAAAAA;
			height: 620px;
			padding: 20px 10px 10px 0px;
		}
			#mobile-tips-page #main #mobile-tips-page-result h4, p {
				margin-bottom: 15px;
			}

			#mobile-tips-page #main #mobile-tips-page-result ul {
				font-size: 0.85em;
				list-style-image: url('../images/arrow-bullet.gif');
				margin-bottom: 15px;
				margin-left: 35px;
			}

/* End Mobile Tips Page */